include streamlit_abcjs_score/frontend/build/static/css/*.css
include streamlit_abcjs_score/frontend/build/static/js/*.js
include streamlit_abcjs_score/frontend/build/static/media/*
include streamlit_abcjs_score/frontend/build/*.html
include streamlit_abcjs_score/frontend/build/*.json
include streamlit_abcjs_score/frontend/build/*.ico
recursive-include streamlit_abcjs_score/frontend/build *
